:root {
    --fondo1: #131424;
    --fondo2: #212330;
    --fondo3: #292d39;
}

/*Uso global*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: #212330;
}

h1, h2, h3 {
    font-family: 'Cabin', serif;
    font-weight: bold;
    color: white;
}

/*Navegación*/
header,
footer {
    background-color: #14141c;
}

nav {
    display: flex;
    align-items: center;
}

/*Portadas*/
.portada {
    background-image: url(../img/portada1.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
@media (min-width: 768px) {
    .portada {
        height: 75rem;
    }
}

/*Juegos*/
.fondo-juego {
    background-color: #313443;
}

/*Footer*/
hr {
    border: 2px solid;
    margin: 20px 0;
}